[submodule "packages/contracts/lib/forge-std"]
	path = packages/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/contracts/lib/ucs-ops"]
	path = packages/contracts/lib/ucs-ops
	url = https://github.com/ecdysisxyz/ucs-ops
[submodule "packages/contracts/lib/ucs-contracts"]
	path = packages/contracts/lib/ucs-contracts
	url = https://github.com/ecdysisxyz/ucs-contracts
